@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');
* { 
  margin:0; }

.Btn{
  width: 10em;
  height: 3em;
  border-color: #fcaf3b;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.App {  text-align: center;
        background-color: black;
}

.App-logo {  height: 20vmin;  pointer-events: none;}

.App-banner{  width: 100%; }

.container
{  
  position: relative; 
  text-align: center;
}
.centered{  
  position: absolute;  top: 85%;  bottom: 15%;left: 21%; right: 21%; color:#fcaf3b;
    font-family: Poppins;  font-size: 70px;font-weight: 500; line-height: 1.3em;}
@media (max-width: 768px){
  .centered{ 
      position:sticky !important;
      font-size: x-large;
  }}
.centered2{
  position: absolute;
  left: 21%; 
  right: 21%;
}
.Benefits{
  text-align: center;
  padding: 100px;
  color: #fcaf3b;
  font-family: Poppins;
  font-size: 20px;
  background-color: black;
}
@media (max-width:768px){
  .Benefits{
    font-size: medium;
    line-height: 2em;
  }
}

.square{
  height: 550px;
  width: 75%;
  margin: auto;
  border: 10px;
  background-color: white;
 
}
.squareright{
  padding-top: 10%;
  background-color: white;
  font-size: x-large;
  height: 550px;
  text-align: center;
  font-family: Poppins;
}
.full{
  background-color: black;
}
.footer{
  background-color: black;
  font-family: Poppins;
  color: #fcaf3b;
  padding: 5%;
}
.form{
  background-color: black;
  color: #fcaf3b;
  margin: 10%;
}

